<!-- ================================================================== -->
<!-- The standard activity feed showing notifications -->
<!-- ================================================================== -->

<div class="container activity-feed">

<!-- using cards to show the notifications -->
  <div class="row">
    <div class="col-sm-6">
      <div class="card card-block" ng-repeat="contact in vmRMCtrl.googList | filter: contact.overdue = true">
        <h3 class="card-title">{{contact.firstName + ' ' + contact.lastName}}</h3>
        <p class="card-text">{{contact.daysSince }} days</p>
        <a href="mailto:{{contact.email}}" class="btn btn-primary">Email Now</a>
      </div>
    </div>

<!-- Using a table to show the notifications -->
    <table class="table table-striped table-hover">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Days Since Last Contact</th>
      </tr>
      <tr ng-repeat="contact in vmRMCtrl.googList | filter: contact.overdue = true" href="mailto:{{contact.email}}">
        <td class="list-group-item active col-md-8">{{contact.firstName}}</td>
        <td class="list-group-item active col-md-8">{{contact.lastName}}</td>
        <td class="list-group-item active col-md-8">
          <span class="badge">{{contact.daysSince}}</span>
        </td>
      </tr>
    </table>
  </div>
</div>
