* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/*.clearfix:after{
  content:"";
  display:table;
  clear:both;
}*/
.hero-unit{
  margin-top: 100px;
}
.hero-unit p{
  margin-top: 30px;
}

.who{
  padding-left: 60px;
}

.main-content{
  margin-top: 100px;
}

.hero-unit{
  margin-top: 20px;
}

footer {
  margin-top: 100px;
}


/*button text change*/
#emailButton.collapsed:before
{
    background-color: red;
    display:block;
    width:15px;
}
button:before
{
    background-color: green;
    display:block;
    width:15px;
}
