* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/*.clearfix:after{
  content:"";
  display:table;
  clear:both;
}*/
/*******************************************************/
/*landing page styling*/
/*******************************************************/

#navbar-brand{
  margin-left: 0px;
}
#navbar-inner{
  height: 45px;
}
#jumbotron{
  margin-top: -20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

#button-margin{
  margin-bottom: 50px;
}

.nav li{
  background-color: #000;
}
.jumbotron{
  background-image: url(https://d1ohevg5buix3g.cloudfront.net/assets/banners/splash-color-wide-535b36672ed2bbcdefd3a3bcf161e1df.jpg);
  background-size: cover;
  height: 660px;
  position: relative;

  /*background-position: center;*/
}
.jumbotron h1{
  padding-top: 140px;
}
.jumbotron p{
  padding-top: 20px;
}
.jumbotron container{
  position: absolute;
}

.who{
  padding-left: 60px;
}

.first-div{
  margin-top: 45px;
}

.landing-info{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: light gray;
}

.list-group2 {
  padding:50px 0px;
}

.spacer{
  height: 40vw;
}

.footer-inverse{
  padding-top: 40px;
  background-color: #000;
  color: white;
}

/*******************************************************/
/*Getting Started page styling*/
/*******************************************************/
.started-title{
  margin-top: 75px;
}

.started-title h3{
  margin-bottom: 10px;
}
.steps{
  margin-bottom: 10px;
  width: 100%;
}

.steps div{
  display: inline-block;
  text-align: center;
}
.started-text{
  position: relative;
  bottom: 18px;
  color: #666;
  font-size: 35px;
  height: 50px;
  width: 335px;
}

.numberCircle {
  border-radius: 50%;

  width: 120px;
  height: 120px;
  margin: 20px;
  font: 96px Arial;

  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
}
/*******************************************************/
/* Connect page styling*/
/*******************************************************/

.dropdown{
  margin-top: 40px;
}
.open > .dropdown-menu {
    left: 50%;
   right: auto;
   text-align: center;
   transform: translate(-50%, 0);
}

.smallerCircle{
  width: 90px;
  height: 90px;
  margin: 15px;
  font: 72px Arial;
}

.650px-container{
  height: 650px;
}
/*******************************************************/
/* Buckets page styling*/
/*******************************************************/

.buckets-text{
  bottom: 0px;
}
.buckets{
  align-items: center;
  float:none;
}
.bucket-button{
  margin-top: 40px;
}

/*.buckets img{
  max-width: 15%;
}*/

.buckets div{
  max-width: 15%;
  display: inline-block;
}

/*******************************************************/
/* Notification Feed page styling*/
/*******************************************************/
.card-block{
  border: 1px solid black;
  display: inline-block;
  margin: 30px;
  padding: 10px;
  border-radius: 10px;
}
